<label>Server Name</label>
<!-- <input type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"> -->
<input type="text"
    class="form-control"
    [(ngModel)]="serverName">
<!-- <p>{{serverName}}</p> -->
<br>
<button class="btn btn-primary"
    [disabled]="!allowAddServers"
    (click)="onAddServerClicked()">
    Add server
</button>
<p *ngIf="serverCreated">
    {{addServerStr}}
</p>
<app-server *ngFor="let server of servers">

</app-server>