<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>MAC ES UN SIDA</h3>
            <hr>
            <app-servers></app-servers>
            <!--<app-servers></app-servers> si el selector seria (selector: 'app-servers') un componente-->
            <!--<div app-servers></div> si el selector seria (selector: '[app-servers]') un atributo-->
            <!--<div class="app-servers"></div> si el selector seria (selector: '.app-servers') una clase-->
        </div>
    </div>
</div>